*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Mumblers Demo";
    background: orangered;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groceries{
    width: 600px;
    min-height: 100vh;
    background: white;
    box-shadow: 10px 14px 15px 13px black;
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 15px;
}

.groceries i{
    font-size: 1.5rem;
    color: blueviolet;
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allItems h2{
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 2rem;
}

@media(max-width:480px){
    .groceries h1{
        font-size: 2rem;
    }
    .groceries i{
        font-size: 1.5rem;
    }
    .groceries input{
        font-size: 1rem;
    }
    #allItems h2{
        margin-left: 25px;
        font-size: 1.5rem;
    }
}